# Node
frontend/node_modules/

# Python
**/.venv/
**/__pycache__/
**/*.py[cod]

# Environment files
.env
backend/.env
frontend/.env

# Build outputs
frontend/dist/

# IDE/OS
.DS_Store
Thumbs.db

# Ignore Upload folder tp tetep pertahankan struktur
backend/uploads/qr/*
backend/uploads/documents/*

!backend/uploads/documents/.gitkeep
!backend/uploads/qr/.gitkeep
